[submodule "lvgl"]
	path = lvgl
	url = https://github.com/littlevgl/lvgl.git
[submodule "lv_examples"]
	path = lv_examples
	url = https://github.com/littlevgl/lv_examples.git
[submodule "lv_drivers"]
	path = lv_drivers
	url = https://github.com/littlevgl/lv_drivers.git
[submodule "lv_apps"]
	path = lv_apps
	url = https://github.com/littlevgl/lv_apps.git
[submodule "lv_png_decoder"]
	path = lv_png_decoder
	url = https://github.com/littlevgl/lv_png_decoder.git
[submodule "lv_lib_qrcode"]
	path = lv_lib_qrcode
	url = https://github.com/littlevgl/lv_lib_qrcode.git
[submodule "lv_lib_freetype"]
	path = lv_lib_freetype
	url = https://github.com/littlevgl/lv_lib_freetype.git
