[submodule "lvgl"]
	path = lvgl
	url = https://github.com/littlevgl/lvgl.git
[submodule "lv_examples"]
	path = lv_examples
	url = https://github.com/littlevgl/lv_examples.git
[submodule "lv_drivers"]
	path = lv_drivers
	url = https://github.com/littlevgl/lv_drivers.git
[submodule "lv_apps"]
	path = lv_apps
	url = https://github.com/littlevgl/lv_apps.git
[submodule "lv_lib_freetype"]
	path = lv_lib_freetype
	url = https://github.com/littlevgl/lv_lib_freetype.git
[submodule "lv_lib_lodepng"]
	path = lv_lib_lodepng
	url = https://github.com/littlevgl/lv_lib_lodepng.git
